langchain
langchain_ollama
langchain_core
langchain_chroma
langgraph>=0.0.38
langfuse
copilotkit>=0.0.42  # Specific version that supports the langchain callback handler
pandas
pydantic
fastapi
uvicorn
chromadb==0.6.3
python-dotenv
copilotkit
websockets
langchain_community
slack-sdk
slack_bolt
