fastapi
uvicorn[standard]
slack-bolt
slack-sdk
pydantic
python-dotenv
requests
chromadb==0.6.3
langchain
langchain-ollama
langchain-core
langchain_chroma
langchain_community
langfuse
langgraph
pandas
###redis
